.slideshow {
  margin-top: 5px;
}

.slideshow-controls {
  margin-top: 20px;
  width: 100%;
  font-size: 40px;
  justify-content: center;
  display: flex;
}

.slideshow-controls > button {
  align-items: center;
  font-size: 25px;
  color: var(--primary);
}

.slideshow-controls > button:first-child {
  margin-right: 30px;
}