.slideshow {
  margin-top: 5px;
}

.slideshow-controls {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.slideshow-controls > button {
  font-size: 25px;
  color: var(--primary);
}

.slideshow-controls > button:first-child {
  margin-right: 30px;
}