{{ define "main" }}

<div class="contact-form ph3 bg-off-white">
	<div class="center mw6 pv3">

		<h1 class="f4 b lh-title mb2 primary">{{ .Params.title }}</h1>

		{{ .Content }}

		<form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
			<p>
			  <label><span>Your Name: </span><input type="text" name="name" /></label>   
			</p>
			<p>
			  <label><span>Your Email: </span><input type="email" name="email" /></label>
			</p>
			<p>
			  <label><span>Message: </span><textarea name="message"></textarea></label>
			</p>
      <p><div data-netlify-recaptcha="true"></div></p>
			<p>
			  <button type="submit">Send</button>
			</p>
    </form>

	</div>
</div>

{{ end }}
